apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "reportportal.fullname" . }}-jobs
  labels: {{ include "labels" . | indent 4 }}
spec:
  replicas: 1
  {{- with .Values.servicejobs.strategy }}
  strategy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  selector:
    matchLabels:
      component: {{ include "reportportal.fullname" . }}-jobs
  template:
    metadata:
      labels:
        {{- range $key, $value := .Values.servicejobs.podLabels }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
        component: {{ include "reportportal.fullname" . }}-jobs
      annotations:
        {{- range $key, $value := .Values.servicejobs.podAnnotations }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
    spec:
      {{- with .Values.servicejobs.affinity }}
      affinity:
        {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      initContainers:
      - name: migrations-waiting-init
        image: "{{ include "reportportal.image" (dict "Values" .Values "service" "k8sWaitFor") }}"
        imagePullPolicy: IfNotPresent
        args:
          - "job-wr"
          - {{ include "reportportal.fullname" . }}-migrations
        resources:
          requests:
            cpu: 50m
            memory: 100Mi
          limits:
            cpu: 50m
            memory: 100Mi
      {{- if .Values.servicejobs.extraInitContainers }}
        {{ toYaml .Values.servicejobs.extraInitContainers | nindent 8 }}
      {{- end }}
      containers:
      - name: "{{ $.Values.servicejobs.name | default "jobs" }}"
        image: "{{ include "reportportal.image" (dict "Values" .Values "service" "servicejobs") }}"
        imagePullPolicy: "{{ .Values.servicejobs.pullPolicy }}"
        ports:
        - containerPort: 8686
          protocol: TCP
        resources:
          requests:
            cpu: {{ .Values.servicejobs.resources.requests.cpu }}
            memory: {{ .Values.servicejobs.resources.requests.memory }}
          limits:
            cpu: {{ .Values.servicejobs.resources.limits.cpu }}
            memory: {{ .Values.servicejobs.resources.limits.memory }}
        env:
{{- if .Values.servicejobs.extraEnvs }}
{{ toYaml .Values.servicejobs.extraEnvs | indent 8 }}
{{- end }}
        - name: SERVER_SERVLET_CONTEXT_PATH
          value: "/jobs"
        - name: RP_ENVIRONMENT_VARIABLE_CLEAN_ATTACHMENT_CRON
          value: "{{ .Values.servicejobs.coreJobs.cleanAttachmentCron }}"
        - name: RP_ENVIRONMENT_VARIABLE_CLEAN_LOG_CRON
          value: "{{ .Values.servicejobs.coreJobs.cleanLogCron }}"
        - name: RP_ENVIRONMENT_VARIABLE_CLEAN_LAUNCH_CRON
          value: "{{ .Values.servicejobs.coreJobs.cleanLaunchCron }}"
        - name: RP_ENVIRONMENT_VARIABLE_BATCH-SIZE
          value: "{{ .Values.servicejobs.coreJobs.batchSize }}"
        - name: RP_ENVIRONMENT_VARIABLE_CLEAN_STORAGE_CRON
          value: "{{ .Values.servicejobs.coreJobs.cleanStorageCron }}"
        - name: RP_ENVIRONMENT_VARIABLE_STORAGE_PROJECT_CRON
          value: "{{ .Values.servicejobs.coreJobs.storageProjectCron }}"
        - name: RP_ENVIRONMENT_VARIABLE_CLEAN_EVENTS_RETENTIONPERIOD
          value: "{{ .Values.servicejobs.coreJobs.cleanEventsRetention }}"
        - name: RP_ENVIRONMENT_VARIABLE_CLEAN_EVENTS_CRON
          value: "{{ .Values.servicejobs.coreJobs.cleanEventsCron }}"
        - name: RP_ENVIRONMENT_VARIABLE_CLEAN_STORAGE_CHUNKSIZE
          value: "{{ .Values.servicejobs.chunksize }}"
        {{- if .Values.servicejobs.jvmArgs }}
        - name: JAVA_OPTS
          value: "{{ .Values.servicejobs.jvmArgs }}"
        {{- end }}
        # AMQP Settings
        - name: RP_AMQP_ANALYZER-VHOST
          value: "{{ .Values.msgbroker.vhost }}"
        - name: RP_AMQP_PASS
        {{- if .Values.msgbroker.secretName }}
          valueFrom:
            secretKeyRef:
              name: "{{ .Values.msgbroker.secretName }}"
              key: "rabbitmq-password"
        {{- else }}
          value: "{{ .Values.msgbroker.password }}"
        {{- end }}
        - name: RP_AMQP_API_ADDRESS
          value: {{ ternary "https" "http" .Values.msgbroker.ssl }}://{{ .Values.msgbroker.apiuser }}:$(RP_AMQP_PASS)@{{ .Values.msgbroker.endpoint | default (printf "%s-rabbitmq.%s.svc.cluster.local" .Release.Name .Release.Namespace) }}:{{ .Values.msgbroker.apiport }}/api
        - name: RP_AMQP_ADDRESSES
          value: '{{ ternary "amqps" "amqp" .Values.msgbroker.ssl }}://{{ .Values.msgbroker.user }}:$(RP_AMQP_PASS)@{{ .Values.msgbroker.endpoint | default (printf "%s-rabbitmq.%s.svc.cluster.local" .Release.Name .Release.Namespace) }}:{{ .Values.msgbroker.port }}'
        # Database settings
        - name: RP_DB_HOST
          value: {{ .Values.database.endpoint | default (printf "%s-postgresql.%s.svc.cluster.local" .Release.Name .Release.Namespace) }}
        - name: RP_DB_PORT
          value: "{{ .Values.database.port }}"
        - name: RP_DB_NAME
          value: "{{ .Values.database.dbName }}"
        {{- if .Values.database.connections }}
        - name: RP_DATASOURCE_MAXIMUMPOOLSIZE
          value: "{{ .Values.database.connections }}"
        {{- end }}
        - name: RP_DB_USER
          value: "{{ .Values.database.user }}"
        - name: RP_DB_PASS
        {{- if .Values.database.secretName }}
          valueFrom:
            secretKeyRef:
              name: "{{ .Values.database.secretName }}"
              key: "{{ .Values.database.passwordKeyName }}"
        {{- else }}
          value: "{{ .Values.database.password }}"
        {{- end }}
        # Storage settings
        {{- $storageType := include "reportportal.storageType" . }}
        - name: DATASTORE_TYPE
          value: "{{ $storageType }}"
        {{- if or (eq $storageType "minio") (eq $storageType "s3") }}
        {{- if eq $storageType "minio" }}
        - name: DATASTORE_ENDPOINT
          value: "{{ ternary "https" "http" .Values.storage.ssl }}://{{ .Values.storage.endpoint | default (printf "%s-minio.%s.svc.cluster.local" .Release.Name .Release.Namespace) }}:{{ .Values.storage.port }}"
        {{- end }}
        {{- if .Values.storage.region }}
        - name: DATASTORE_REGION
          value: "{{ .Values.storage.region }}"
        {{- end }}
        {{- if .Values.storage.secretName }}
        - name: DATASTORE_ACCESSKEY
          valueFrom:
            secretKeyRef:
              name: "{{ .Values.storage.secretName }}"
              key: "{{ .Values.storage.accesskeyName }}"
        - name: DATASTORE_SECRETKEY
          valueFrom:
            secretKeyRef:
              name: "{{ .Values.storage.secretName }}"
              key: "{{ .Values.storage.secretkeyName }}"
        {{- else }}
        - name: DATASTORE_ACCESSKEY
          value: "{{ .Values.storage.accesskey }}"
        - name: DATASTORE_SECRETKEY
          value: "{{ .Values.storage.secretkey }}"
        {{- end }}
        {{- if eq .Values.storage.bucket.type "single" }}
        - name: RP_FEATURE_FLAGS
          value: "singleBucket"
        {{- end }}
        {{- if eq .Values.storage.bucket.type "multi" }}
        - name: DATASTORE_BUCKETPREFIX
          value: "{{ .Values.storage.bucket.bucketMultiPrefix }}"
        - name: DATASTORE_BUCKETPOSTFIX
          value: "{{ .Values.storage.bucket.bucketMultiPostfix }}"
        - name: RP_INTEGRATION_SALT_PATH
          value: "{{ .Values.storage.bucket.bucketMultiSaltName }}"
        {{- end }}
        - name: DATASTORE_DEFAULTBUCKETNAME
          value: "{{ .Values.storage.bucket.bucketDefaultName }}"
        {{- end }}
        - name: RP_AMQP_MAXLOGCONSUMER
          value: "1"
        {{- if .Values.servicejobs.readinessProbe.enabled }}
        readinessProbe:
          httpGet:
            path: "/jobs/health"
            port: 8686
          initialDelaySeconds: {{ .Values.servicejobs.readinessProbe.initialDelaySeconds | default 60 }}
          periodSeconds: {{ .Values.servicejobs.readinessProbe.periodSeconds | default 40 }}
          timeoutSeconds: {{ .Values.servicejobs.readinessProbe.timeoutSeconds | default 5 }}
          failureThreshold: {{ .Values.servicejobs.readinessProbe.failureThreshold | default 10 }}
        {{- end }}
        {{- if .Values.servicejobs.livenessProbe.enabled }}
        livenessProbe:
          tcpSocket:
            port: 8686
          initialDelaySeconds: {{ .Values.servicejobs.livenessProbe.initialDelaySeconds | default 60 }}
          periodSeconds: {{ .Values.servicejobs.livenessProbe.periodSeconds | default 40 }}
          timeoutSeconds: {{ .Values.servicejobs.livenessProbe.timeoutSeconds | default 5 }}
          failureThreshold: {{ .Values.servicejobs.livenessProbe.failureThreshold | default 10 }}
        {{- end }}
        volumeMounts:
          {{- if eq (include "reportportal.storageType" .) "filesystem" }}
          - name: shared-volume
            mountPath: /data/storage
          {{- end }}
          {{- if .Values.servicejobs.extraVolumeMounts }}
            {{ toYaml .Values.servicejobs.extraVolumeMounts | nindent 12 }}
          {{- end }}
{{- if .Values.servicejobs.nodeSelector }}
      nodeSelector:
        {{- range $key, $value := .Values.servicejobs.nodeSelector }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
{{- end }}
      securityContext:
{{- include "reportportal.securityContext" (dict "Values" .Values "serviceContext" .Values.servicejobs.securityContext) | nindent 8 }}
      serviceAccountName: {{ .Values.servicejobs.serviceAccountName | default (include "reportportal.serviceAccountName" .) }}
{{- with .Values.global.tolerations }}
      tolerations:
{{- toYaml . | nindent 8 }}
{{- else }}
{{- with .Values.servicejobs.tolerations }}
      tolerations:
{{- toYaml . | nindent 8 }}
{{- end }}
{{- end }}
      volumes:
      {{- if eq (include "reportportal.storageType" .) "filesystem" }}
        - name: shared-volume
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}-shared-volume-claim
      {{- end }}
      {{- if .Values.servicejobs.extraVolumes }}
        {{ toYaml .Values.servicejobs.extraVolumes | nindent 8 }}
      {{- end }}