# Idea
/idea/*
/.idea/

# VSCode
.vscode/

# Helm
charts/
/reportportal/charts/
/reportportal/Chart.lock
/reportportal/values.schema.generated.json

# Other
*.xml
*.iml
.DS_Store
*.old
*.backup
*.bak
*.orig
*.rej
*.tgz
tmp/
temp/
tmp*
test/