{{- $path := .Values.ingress.path -}}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "reportportal.fullname" . }}-index
  labels: {{ include "labels" . | indent 4 }}
spec:
  replicas: 1
  {{- with .Values.serviceindex.strategy }}
  strategy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  selector:
    matchLabels:
      component: {{ include "reportportal.fullname" . }}-index
  template:
    metadata:
      labels:
        {{- range $key, $value := .Values.serviceindex.podLabels }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
        component: {{ include "reportportal.fullname" . }}-index
      annotations:
        {{- range $key, $value := .Values.serviceindex.podAnnotations }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
    spec:
      {{- with .Values.serviceindex.affinity }}
      affinity:
        {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      initContainers:
      {{- if .Values.serviceindex.extraInitContainers }}
        {{ toYaml .Values.serviceindex.extraInitContainers | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ .Values.serviceindex.serviceAccountName | default (include "reportportal.serviceAccountName" .) }}
      containers:
      - name: {{ $.Values.serviceindex.name | default "index" }}
        image: "{{ include "reportportal.image" (dict "Values" .Values "service" "serviceindex") }}"
        imagePullPolicy: "{{ .Values.serviceindex.pullPolicy }}"
        env:
        - name: K8S_MODE
          value: "true"
        - name: RESOURCE_PATH
          value: {{ $path }}
        ports:
        - containerPort: 8080
          protocol: TCP
        {{- if .Values.serviceindex.readinessProbe.enabled }}
        readinessProbe:
          httpGet:
            path: "/health"
            port: 8080
          initialDelaySeconds: {{ .Values.serviceindex.readinessProbe.initialDelaySeconds | default 30 }}
          periodSeconds: {{ .Values.serviceindex.readinessProbe.periodSeconds | default 10 }}
          timeoutSeconds: {{ .Values.serviceindex.readinessProbe.timeoutSeconds | default 5 }}
          failureThreshold: {{ .Values.serviceindex.readinessProbe.failureThreshold | default 3 }}
          successThreshold: {{ .Values.serviceindex.readinessProbe.successThreshold | default 1 }}
        {{- end }}
        {{- if .Values.serviceindex.livenessProbe.enabled }}
        livenessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: {{ .Values.serviceindex.livenessProbe.initialDelaySeconds | default 60 }}
          periodSeconds: {{ .Values.serviceindex.livenessProbe.periodSeconds | default 30 }}
          timeoutSeconds: {{ .Values.serviceindex.livenessProbe.timeoutSeconds | default 5 }}
          failureThreshold: {{ .Values.serviceindex.livenessProbe.failureThreshold | default 3 }}
        {{- end }}
        resources:
          requests:
            cpu: {{ .Values.serviceindex.resources.requests.cpu }}
            memory: {{ .Values.serviceindex.resources.requests.memory }}
          limits:
            cpu: {{ .Values.serviceindex.resources.limits.cpu }}
            memory: {{ .Values.serviceindex.resources.limits.memory }}
{{- if .Values.serviceindex.nodeSelector }}
      nodeSelector:
        {{- range $key, $value := .Values.serviceindex.nodeSelector }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
{{- end }}
      securityContext:
{{- include "reportportal.securityContext" (dict "Values" .Values "serviceContext" .Values.serviceindex.securityContext) | nindent 8 }}
{{- with .Values.global.tolerations }}
      tolerations: 
{{- toYaml . | nindent 8 }}
{{- else }}
{{- with .Values.serviceindex.tolerations }}
      tolerations: 
{{- toYaml . | nindent 8 }}
{{- end }}
{{- end }}
