apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "reportportal.fullname" . }}-index
  labels: {{ include "labels" . | indent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      component: {{ include "reportportal.fullname" . }}-index
  template:
    metadata:
      labels:
        component: {{ include "reportportal.fullname" . }}-index
      annotations:
        {{- range $key, $value := .Values.serviceindex.podAnnotations }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
    spec:
      serviceAccountName: {{ template "reportportal.serviceAccountName" . }}
      containers:
      - env:
        - name: K8S_MODE
          value: "true"
        ### Added for Skaffold local dev environment support
        {{ if .Values.serviceindex.image }}
        image: "{{ .Values.serviceindex.image }}"
        {{ else }}
        image: "{{ .Values.serviceindex.repository }}:{{ .Values.serviceindex.tag }}"
        {{ end }}
        name: index
        ports:
        - containerPort: 8080
          protocol: TCP
        readinessProbe:
          httpGet:
            path: "{{ .Values.rp.healthEndpoint }}"
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 3
        resources:
          requests:
            cpu: {{ .Values.serviceindex.resources.requests.cpu }}
            memory: {{ .Values.serviceindex.resources.requests.memory }}
          limits:
            cpu: {{ .Values.serviceindex.resources.limits.cpu }}
            memory: {{ .Values.serviceindex.resources.limits.memory }}
{{ include "nodeSelector" . | indent 8 }}
      securityContext:
{{ toYaml .Values.serviceindex.securityContext | indent 8}}
      serviceAccountName: {{ .Values.serviceindex.serviceAccountName }}
