apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "reportportal.fullname" . }}-jobs
  labels: {{ include "labels" . | indent 4 }}
spec:
  replicas: {{ .Values.servicejobs.replicaCount | default 1 }}
  selector:
    matchLabels:
      component: {{ include "reportportal.fullname" . }}-jobs
  template:
    metadata:
      labels:
        component: {{ include "reportportal.fullname" . }}-jobs
      annotations:
        {{- range $key, $value := .Values.servicejobs.podAnnotations }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
    spec:
      containers:
      - env:
        - name: RP_ENVIRONMENT_VARIABLE_CLEAN_ATTACHMENT_CRON
          value: "{{ .Values.servicejobs.clean.cron.attachment }}"
        - name: RP_ENVIRONMENT_VARIABLE_CLEAN_LOG_CRON
          value: "{{ .Values.servicejobs.clean.cron.log }}"
        - name: RP_ENVIRONMENT_VARIABLE_CLEAN_LAUNCH_CRON
          value: "{{ .Values.servicejobs.clean.cron.launch }}"
        - name: RP_ENVIRONMENT_VARIABLE_CLEAN_STORAGE_CRON
          value: "{{ .Values.servicejobs.clean.cron.storage }}"
        - name: RP_ENVIRONMENT_VARIABLE_STORAGE_PROJECT_CRON
          value: "{{ .Values.servicejobs.clean.cron.storageproject }}"
        - name: RP_ENVIRONMENT_VARIABLE_CLEAN_STORAGE_CHUNKSIZE
          value: "{{ .Values.servicejobs.clean.chunksize }}"
        - name: RP_DB_HOST
          value: "{{ .Values.postgresql.endpoint.address }}"
        - name: RP_DB_PORT
          value: "{{ .Values.postgresql.endpoint.port }}"
        {{ if .Values.postgresql.endpoint.connections }}
        - name: RP_DATASOURCE_MAXIMUMPOOLSIZE
          value: "{{ .Values.postgresql.endpoint.connections }}"
        {{ end }}
        - name: RP_DB_USER
          value: "{{ .Values.postgresql.endpoint.user }}"
        - name: RP_DB_PASS
        {{ if .Values.postgresql.endpoint.cloudservice }}
          value: "{{ .Values.postgresql.endpoint.password }}"
        {{ else }}
          valueFrom:
            secretKeyRef:
              name: "{{ .Values.postgresql.SecretName }}"
              key: "postgresql-password"
        {{ end }}
        {{ if .Values.minio.enabled }}
        - name: DATASTORE_TYPE
          value: "minio"
        - name: DATASTORE_MINIO_ENDPOINT
          value: "{{ .Values.minio.endpoint }}"
        - name: DATASTORE_MINIO_DEFAULTBUCKETNAME
          value: "rp-bucket"
        {{ if .Values.minio.region }}
        - name: DATASTORE_MINIO_REGION
          value: "{{ .Values.minio.region }}"
        {{ end }}
        {{ if .Values.minio.secretName }}
        - name: DATASTORE_MINIO_ACCESSKEY
          valueFrom:
            secretKeyRef:
              name: "{{ .Values.minio.secretName }}"
              key: "accesskey"
        - name: DATASTORE_MINIO_SECRETKEY
          valueFrom:
            secretKeyRef:
              name: "{{ .Values.minio.secretName }}"
              key: "secretkey"
       {{ else }}
        - name: DATASTORE_MINIO_ACCESSKEY
          value: "{{ .Values.minio.accesskey }}"
        - name: DATASTORE_MINIO_SECRETKEY
          value: "{{ .Values.minio.secretkey }}"
       {{ end }}
       {{ end }}
        image: "{{ .Values.servicejobs.repository }}:{{ .Values.servicejobs.tag }}"
        name: jobs
        ports:
        - containerPort: 8686
          protocol: TCP
        resources:
          requests:
            cpu: {{ .Values.servicejobs.resources.requests.cpu }}
            memory: {{ .Values.servicejobs.resources.requests.memory }}
          limits:
            cpu: {{ .Values.servicejobs.resources.limits.cpu }}
            memory: {{ .Values.servicejobs.resources.limits.memory }}
{{ include "nodeSelector" . | indent 8 }}
      securityContext:
{{ toYaml .Values.servicejobs.securityContext | indent 8}}
      serviceAccountName: {{ .Values.servicejobs.serviceAccountName }}
{{- with .Values.tolerations }}
      tolerations:
{{- toYaml . | nindent 8 }}
{{- end }}
