apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "reportportal.fullname" . }}-ui
  labels: {{ include "labels" . | indent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      component: {{ include "reportportal.fullname" . }}-ui
  template:
    metadata:
      labels:
        {{- range $key, $value := .Values.serviceui.podLabels }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
        component: {{ include "reportportal.fullname" . }}-ui
      annotations:
        {{- range $key, $value := .Values.serviceui.podAnnotations }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
    spec:
      initContainers:
      {{- if .Values.extraInitContainers }}
{{ toYaml .Values.extraInitContainers | indent 8 }}
      {{- end }}
      containers:
      - env:
        - name: RP_SERVER_PORT
          value: "8080"
        image: "{{ .Values.serviceui.repository }}:{{ .Values.serviceui.tag }}"
        name: ui
        ports:
        - containerPort: 8080
          protocol: TCP
        resources:
          requests:
            cpu: {{ .Values.serviceui.resources.requests.cpu }}
            memory: {{ .Values.serviceui.resources.requests.memory }}
          limits:
            cpu: {{ .Values.serviceui.resources.limits.cpu }}
            memory: {{ .Values.serviceui.resources.limits.memory }}
        readinessProbe:
          httpGet:
            path: "{{ .Values.rp.healthEndpoint }}"
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 3
{{- if .Values.serviceui.nodeSelector }}
      nodeSelector:
        {{- range $key, $value := .Values.serviceui.nodeSelector }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
{{- end }}
      securityContext:
{{ toYaml .Values.serviceui.securityContext | indent 8}}
      serviceAccountName: {{ .Values.serviceui.serviceAccountName }}
{{- with .Values.tolerations }}
      tolerations: 
{{- toYaml . | nindent 8 }}
{{- end }}
